# OpenAI or Ollama?
AI_PROVIDER=openai

# Server Configuration
PORT=5481

# Ollama Configuration
OLLAMA_HOST_DECISION=http://127.0.0.1:11434
OLLAMA_HOST_CHOICE=http://127.0.0.1:11434
OLLAMA_TIMEOUT_MS=9000000

# OpenAI Configuration
OPENAI_API_KEY=x
OPENAI_BASE_URL=http://0.0.0.0:5055/v1
OPENAI_TIMEOUT_MS=1200000

# Model config
DECISION_MODEL=specialrouter
CHOICE_MODEL=specialrouter

# Database Configuration
DB_PATH=./data/stable.db

# Memory Configuration
MEMORY_SUMMARY_LENGTH=1000

# Idle Detection
IDLE_TIMEOUT_MS=300000
