DECISION_MODEL=sparksammy/gpt-oss-20b-unsloth:small-hotfixed
CHOICE_MODEL=ministral-3:8b
OLLAMA_HOST_DECISION=http://localhost:11434
OLLAMA_HOST_CHOICE=http://localhost:11434
PORT=5481
MODEL_NAME=stable
LIBREY_INSTANCE=https://search.sparksammy.com
