DECISION_MODEL=sparksammy/glm-4.7-flash-unsloth:tinyer-hotfixed
CHOICE_MODEL=qwen3-vl:4b
OLLAMA_HOST_DECISION=http://localhost:11434
OLLAMA_HOST_CHOICE=http://localhost:11434
PORT=5481
MODEL_NAME=stable
LIBREY_INSTANCE=https://search.sparksammy.com
